.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: rgba(255, 255, 255, 0.75);
  padding: 4rem 2rem;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: 0 .25rem .25rem .25rem rgba(44, 44, 44, 0.5);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 4rem 6rem;
  }
}

.titulo {
  font-size: 3rem;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.reset {
  padding: 1.5rem 2rem;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  border-radius: .5rem;
}

.reset:focus {
  color: #ffffff;
  background-color: #262809;
}

.game {
  width: 100%;
  min-height: 43rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  transform-style: preserve-3d;
  perspective: 50rem;
  max-width: 43rem;
}

.item {
  position: relative;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 5rem;
  transform: rotateY(0deg);
  transition: .25s;
  border-radius: 1rem;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0 0 0 .25rem #ed6008da;
}

@media screen and (min-width: 768px) {
  .item {
    width: 10rem;
    height: 10rem;
  }
}

.item::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #404040;
  transition: .25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 1rem;
  background-position: center;
  background-size: contain;
}

.item__image {
  width: 10rem;
  height: auto;
  padding: 1rem;
}

.item.boxOpen {
  transform: rotateY(180deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}