body {
  background-image: url(../assets/pokemon/bg.gif);
  background-size: cover;
  background-position: center;
}

.titulo {
  color: #fc100c;
  text-shadow: .3rem .3rem 0 #000000;
}

.reset {
  background: #fc100c;
  color: #ffffff;
}

.reset:hover {
  background: #be0401;
}


.item:hover {
  box-shadow: 0 0 0 .25rem #be0401;
}


.item::after {
  background-image: url(../assets/pokemon/bg-card-pokemon.webp);
  background-position: center .5rem;
  background-color: #ffffff;
  padding: .5rem;
}