body {
  background-image: url(../assets/yugioh/bg.jpg);
  background-size: cover;
  background-position: center;
}

.titulo {
  color: #d5ae01;
  text-shadow: .3rem .3rem 0 #000000;
}

.reset {
  background: #d5ae01;
  color: #000000;
}

.reset:hover {
  background: #9b7f00;
  color: #ffffff;
}

.item:hover {
  box-shadow: 0 0 0 .25rem #9b7f00;
}

.item::after {
  background-image: url(../assets/yugioh/bg-card-yugioh.png);
  background-color: #ffffff;
  background-size: 80%;
  background-repeat: no-repeat;
  padding: .5rem;
}